<nav class="navbar navbar-expand-lg" id="nav">
         <div class="container">
            <a class="navbar-brand" href="#">
               <div class="blogo">
                  <div class="bico"><i class="fas fa-utensils"></i></div>
                  <div>
                     <div class="bname"><span>APFTL</span></div>
                     <div class="bsub">Alumni Parlamentu Foinsa'e Timor-Leste</div>
                  </div>
               </div>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <i class="fas fa-bars" style="color:var(--primary);font-size:1.35rem;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
               <ul class="navbar-nav mx-auto">
                  <li class="nav-item"><a class="nav-link active" href="#hero">Varanda</a></li>
                  <li class="nav-item"><a class="nav-link" href="#about">Kona-ba</a></li>
                  <li class="nav-item"><a class="nav-link" href="#menu">Estrutura</a></li>
                  <li class="nav-item"><a class="nav-link" href="#chefs">Programa</a></li>
                  <li class="nav-item"><a class="nav-link" href="#testimonials">Relatoriu</a></li>
                  <li class="nav-item"><a class="nav-link" href="#reservation">Informasaun</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact-section">Kontaktu</a></li>
               </ul>
               <div class="d-flex align-items-center gap-1">

</div>
               </div>
            </div>
         </div>
      </nav>