<div id="topbar">
         <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
               <div class="top-contact d-flex flex-wrap">
                  <span><i class="fas fa-phone-alt"></i>+670 74389856</span>
                  <span><i class="fas fa-envelope"></i>celiosousa1264@gmail.com</span>
                  <span><i class="fas fa-map-marker-alt"></i>Becora, Cristo-Rei, Dili</span>
               </div>
               <div class="d-flex align-items-center gap-3">
                  <div class="tsoc">
                     <a href="#"><i class="fab fa-facebook-f"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-tiktok"></i></a>
                     <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>